{{#each keyList as |key|}}
{{#if (is-object (get-object-from-key obj key))}}
  <b>{{key}}:</b><br>
  {{obj-render obj=(get-object-from-key obj key)}}
{{else}}
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon3">{{key}}</span>
    {{one-way-input
    class="form-control"
    value=(get-object-from-key obj key)
    update=(action (mut (get-object-from-key obj key)))}}
  </div>
{{/if}}
{{/each}}
