{{#each obj as |item|}}
  {{#if item.isLeaf}}
  {{!Leaf...}}
    <form class="form-inline">
      <div class="form-group">
        {{one-way-input
        class="form-control input-medium"
        value=item.key
        update=(action 'save' path item -1)}}
      </div>
      {{#each item.value as |val index|}}
        <div class="form-group">
          {{one-way-input
          class="form-control input-medium"
          value=val
          update=(action 'save' path item index)}}
        </div>
      {{/each}}
      <div class="form-group">
         <button class="btn btn-flat btn-danger"{{action 'removeKey' path obj item}}>-</button>
      </div>
    </form>
  {{else}}
  {{!Node...}}
    <div class="marginado">
    <b>{{short-path item.path}}</b><br>
    <form class="form-inline">
      <div class="form-group">
        {{one-way-input
        class="form-control input-medium"
        value=newKey
        update=(action (mut newKey))}}
      </div>
      <div class="form-group">
         <button class="btn btn-flat btn-primary"{{action 'addKey' item newKey}}>+</button>
      </div>
    </form>
    {{obj-new-render
      path=item.path
      obj=item.children
      save=(action 'save')
      removeKey=(action 'removeKey')
      addKey=(action 'addKey')}}
  </div>
  {{/if}}
{{/each}}
